body
{
}
#MainOfficeRegion-memeberOne {
	float:left;
	width:900px;
	height: auto;
}
#IncludeSearch-memeberOne {
	width:900px;
	float: left;
	height: 20px;
}
#searchChar-memeberOne {
	width:700px;
	float: left;
	height: 20px;
}
#searchStatus-memeberOne {
	width:105px;
	float: right;
	height: 20px;
}
#content-memeberOne {
	width:900px;
	float: left;
	height: 300px;
	border: solid 1px black;
}