<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    @RenderPage("Asset.cshtml")
    <script type="text/javascript" language="javascript">
        $(function () {
        	$('#tabs').tabs();
        });
        function OpenPopUP(url) { 
            mypopupwindow=window.open(url);
        }
	</script>
</head>
<body>

<!-- phần nội dung chính -->
<div class="wrapper" style="width:780px; margin-top:10px;">

<!--Main Content Page-->
    <div class="container-body" style="margin-top:10px;">
    @RenderBody()
    </div>
<!--End Main Content Page-->

	<div style="clear:both"></div>
</div>
<script>$(".sample tr:odd").css("background-color", "#f2f7ff");</script>
</body>
</html>
