@{
    ViewBag.Title = "List all Team";
}

<div class="container-right">
		<div class="table-content">
			<p>
			<span style="font-size:10px">
			<a href="">All</a> | <a href="">0-9</a> | <a href="">A B C D E </a>
			| <a href="">F G H I J</a> | <a href="">K L M N</a> | <a href="">O P Q R</a> 
			| <a href="">S T U V</a> | <a href="">W X Y Z</a>
			</span>
			<span style="float:right;margin-right:10px"><a href="Add"><input type="submit" value="Create" /></a> <input type="checkbox" /> Include In-active</span>
			
			</p>
			
			<table class="sample" width="750px">
				<tr style="font-weight:bold;background:#d6d8db">
					<td width="250px">Team Name</td>
					<td width="180px">Address Line 1</td>
					<td width="90px">Postcode</td>
					<td width="110px">Contact</td>
					<td>Is Active?</td>
				</tr>
				
				
				
			</table>
		</div>
	</div>
