<ul class="left-menu">
	            <!-- Organisation Manager -->
	            <li><a href="/Organisation/List">Organisation</a></li>
	            <!-- Programe Manager -->
	            <li><a href="/Service/List">Service</a>
		            <ul>
			            <li><a href="/Programme/List">Programme</a></li>
		            </ul>
	            </li>	
                <!-- Geography Manager -->
	            <li><a href="/TrustRegion/List">Geography</a>
		            <ul>
			            <li><a href="/TrustRegion/List">Trust Regions/ Trust Districts</a></li>
                        <li><a href="/Goverment/List">Goverment Office Region</a></li>
		            </ul>
	            </li>	

	            <li><a href="/Premise/List">Premise</a></li>
            </ul>