@{
    ViewBag.Title = "List all Department";
}

<div class="container-right">
		<div class="table-content">
			<p style="color:#69a017;font-size:large;margin-bottom:10px">Organisation Details</p>
			<p>
			<span style="font-size:10px">
			<a href="">All</a> | <a href="">0-9</a> | <a href="">A B C D E </a>
			| <a href="">F G H I J</a> | <a href="">K L M N</a> | <a href="">O P Q R</a> 
			| <a href="">S T U V</a> | <a href="">W X Y Z</a>
			</span>
			<span style="float:right;margin-right:10px"><a href="Add"><input type="submit" value="Create" /></a> <input type="checkbox" /> Include In-active</span>
			
			</p>
			
			<table class="sample" width="750px">
				<tr style="font-weight:bold;background:#d6d8db">
					<th width="250px">Departments Name</th>
					<th width="180px">Address Line 1</th>
					<th width="90px">Postcode</th>
					<th width="110px">Contact</th>
					<th>Is Active?</th>
				</tr>
				
				<tr><td class="organisation-name">000ForTestOnly000-Don't Delete</td><td>10 Maurer Court Greenwich</td><td>SE10 OSS</td><td>Isax Newton</td><td>Yes</td></tr>
				<tr><td class="organisation-name">Long canh sat cong </td><td>10 Tajj Thias Ha</td><td>SE1e OSS</td><td>123abc dghrs</td><td>Yes</td></tr>
				<tr><td class="organisation-name">Neu muon diem cao</td><td>16 Shs Ddshd Tyhwhw</td><td>FIS OSS</td><td>Nam123 Nguyen</td><td>Yes</td></tr>
				<tr><td class="organisation-name">Thi phai sieng hoc vao</td><td>34 Maurer Court Freenwith</td><td>PH3 OSS</td><td>Barack Obama</td><td>Yes</td></tr>
				<tr><td class="organisation-name">Nhieu nguoi di choi</td><td>23 Thah Shaush SAUhuasuu</td><td>OK11 OSS</td><td>Isax Newton</td><td>Yes</td></tr>
				<tr><td class="organisation-name">Trong khi ta ngu va ngu</td><td>10 Maurer Court SAsj sasdhhh</td><td>SK10 OSS</td><td>Bush</td><td>Yes</td></tr>
				<tr><td class="organisation-name">Ngay mai nang len</td><td>14 Maurer Court Freenwith</td><td>NA1 OSS</td><td>Bill Clinton</td><td>Yes</td></tr>
				<tr><td class="organisation-name">Anh se ve la mot trong nhung</td><td>10 Thsahsh Court Freenwith</td><td>SE10 OSS</td><td>Isax Newton</td><td>Yes</td></tr>
				<tr><td class="organisation-name">Ca sy Anh Khang</td><td>6 Paul Court Freenwith</td><td>PK22 OSS</td><td>Pascal</td><td>Yes</td></tr>
				<tr><td class="organisation-name">Cac bai hat hay</td><td>11 Mohamed SAs Freenwith</td><td>PH24 OSS</td><td>Kenedy</td><td>Yes</td></tr>
				
			</table>
			
			<p style="text-align:right;margin-right:10px">Page <input style="width:30px;height:14px" type="text" value="1" /> of 2</p>
		</div>
	</div>
