@{
    ViewBag.Title = "Access Denied";
    Layout = null;
}
@model System.Web.Mvc.HandleErrorInfo

<h2>Some resource can not access. Click <a href="javascript:history.back()">here</a> to back</h2>