@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
</head>
<body>
    <h2>
        Sorry, an error occurred while processing your request. Click <a href="javascript:history.back()">here</a> to back
    </h2>
    <p><br />@ViewBag.Mess</p>
</body>
</html>