body
{
}
/*Form Contact*/
#mainFormContact
{
	height:500px;
	width:857px; 
	float:left; 
	border:solid 1px #EFEFDE;
	font-size:12px;
}
#header
{
	float:left;
	width:700px;	
	font-weight:bold;
}
.label
{
	margin-left:25px;
	float:left;
	width:100px;	
}
.textboxSearch
{
	float:left;
	width:200px;	
}
#ButtonContact
{
	float:left;
	margin-top:10px;
	width:700px;	
}
.button
{
	float:left;
	margin-left:10px;
}
#searchContact
{
	margin-top:10px;
	width:680px;
	float:left;
}
#checkboxContact
{
	float:left;
	color:Black;	
	margin:50px 10px 10px 10px;
	width:700px;
}
#gridView
{
	margin: 10px 0px 10px 10px;
	float:left;
	width:680px;
	height:200px;
	border:solid 1px gray;	
}
#paging
{
	float:right;
	margin-right:10px;
	height:22px;
}
#buttonfooter
{
	float:left;
	width:700px;
}



/*Form Create New Contact*/
#mainCreateContact
{
	float:left;
	width:700px;
	border:solid 1px #EFEFDE;
}
#line1
{
	margin-top:10px;
	float:left;
	width:700px;
	height: 22px;
}
#line2
{	
	margin-top:10px;
	float:left;
	width:700px;
	height: 22px;
}
#line3
{
	margin-top:10px;
	float:left;
	width:700px;
	height: 22px;	
}
#line4
{
	margin-top:10px;
	float:left;
	width:700px;
	height: 22px;	
}
#line5 
{
	margin-top:10px;
	float:left;
	width:700px;
	height: 22px;
}
#line6
{
	margin-top:10px;
	float:left;
	width:700px;
	height: 22px;	
}
#line7
{
	margin-top:10px;
	float:left;
	width:700px;
	height: 22px;	
}
.colum1
{
	float:left;
	width:350px;	
}
.colum2
{
	float:left;
	width:350px;
}
#label
{
	float:left;
	width:100px;
}
.texboxCreateContact
{
	float:left;
	width:200px;	
	margin-right:10px;
}
.labelCreateContact
{
	float:left;
	width:120px;
	margin-left:15px;
	
}
#buttonCreateContact
{
	float:left;
	width:700px;
	margin-top:20px;
}
.buttonContact
{
	float:right;
	margin-right:20px;
	width:100px;
}
