@model System.Web.Mvc.HandleErrorInfo
            
@{
    ViewBag.Title = "Exception Error";
    Layout = null;
}

<h2>A Error Has Occurred. Click <a href="javascript:history.back()">here</a> to back</h2>
<h2> <i>The resource cannot be found.</i> <b>Requested URL:  @ViewBag.Path</b> </h2>